# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key

DATABASE_URL = "postgresql://postgres.<project-id>:<password>@aws-0-ap-south-1.pooler.supabase.com:6543/postgres"

ENV = "development"